.pageCtn {
  display: grid;
  margin-bottom: 50px;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px var(--pokeColourYellow1);
  color: var(--pokeColourBlue3);
}

#checkoutBtn {
  float: right;
  background-color: brown;
  padding: 15px 20px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 12px, rgba(0, 0, 0, 0.22) 0px 7px 6px;
  border: 1px solid;
  color: aliceblue;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  transition: 0.5s;
}

#checkoutBtn:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  /* margin: 0 auto; */
  right: -15px;
  transition: 0.5s;
}

#checkoutBtn:hover {
  padding-right: 20px;
}

#checkoutBtn:hover:after {
  opacity: 1;
  right: -3px;
}
