:root {
  --BtnRadius: 5px;
}

.cardCtn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--pokeColourYellow1);
  border-radius: 10px;
  padding: 10px;
}

.cardName {
  margin: 0 auto;
}

.cardPrice {
  padding-bottom: 5px;
}

.inputQtyCtn {
  display: flex;
  justify-content: center;
}

.inputQty {
  width: 25%;
}

.addToCartBtn {
  margin: 10px;
  padding: 5px;
  background-color: var(--pokeColourBlue1);
  transition: 0.2s;
  border-radius: 5px;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif !important;
  color: #fff;

  &:hover {
    background-color: var(--pokeColourBlue2);
  }
}

.shopItem {
  height: 75px;
  width: 75px;
}

.changeQtyBtn {
  background-color: var(--pokeColourRed2);
  width: 20px;
  color: var(--pokeColourYellow1);
  transition: 0.2s;

  &:hover {
    background-color: var(--pokeColourRed1);
  }
}

.changeQtyBtnDecrease {
  border-top-left-radius: var(--BtnRadius);
  border-bottom-left-radius: var(--BtnRadius);
}

.changeQtyBtnIncrease {
  border-top-right-radius: var(--BtnRadius);
  border-bottom-right-radius: var(--BtnRadius);
}
