.pageCtn {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
}

.navBarSearch {
  padding: 0 50px;
}

.itemSection {
  height: 100%;
  padding: 0 50px;
  /* font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; */
}

.itemGridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 18px;
}

.itemCard {
  grid-column: 1 / -1;
}
