:root {
  --linkColour: #000;
  --linkHoverColour: #fff;
  --linkHoverOpacity: 75%;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 0;
  /* font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; */
}

.navbarBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    transition: 0.2s;
    color: var(--linkColour);
  }

  a:hover {
    color: var(--linkHoverColour);
  }
}

.navbarLeft {
  display: flex;
  width: 20%;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartBtnCtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border: solid 2px var(--pokeColourYellow2);
  background-color: var(--pokeColourYellow1);
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    background-color: var(--pokeColourYellow2);
  }
}

.cartBtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.cartBtnIcon {
  height: 25px;
  color: #fff;
  /* margin-right: 10px; */

  &:hover {
    text-shadow: 10px 10px 10px #ccc;
  }
}

.cartQuantity {
  text-decoration: none;
}

#pokeStoreLogo {
  width: 250px;
}
