input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

ul {
  list-style-type: none;
}

li {
  background: none;
}

.center {
  margin: 0 auto;
}
